header {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_text {
    font-size: 36px;
    font-weight: 700;
}

nav {
    align-items: center;
    display: flex;
    gap: 25px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu__item-link {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}

.menu__item-link:hover {
    transform: translateY(-3px);
}
